apiVersion: v1
kind: ConfigMap
metadata:
  name: chat-app-config
  namespace: chat-app
data:
  NODE_ENV: "production"
  PORT: "5000"
  FRONTEND_URL: "http://localhost:3000"
  MONGO_URI: "mongodb://mongodb-service:27017/chat-app"

